.award{
    background: linear-gradient(45deg, lightgreen, aqua);

    h3{
        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
        margin-top: -150px; font-size: 60px; color: #222;
    }
    .txt{
        position: fixed;
        top: 50%; left: 100%; transform: translateY(-50%);
        width: 100%;
        white-space: nowrap;
        // 줄바꿈 금지 : 스크롤 애니메이션이 진행할 때 텍스트가 요소 밖으로 넘치는데
        //이때 줄바꿈일 일어날 수 있습니다. 하지만 이코드를 적음으로 항상 한줄로 출력됨
        font-size: 13vw;
        -webkit-text-stroke: 2px #222;
        color: transparent;
        text-align: center;
/*
크로스 브라우징 : 웹페이지나 웹앱의 외형이 기능이 브라우저마다 다른 엔진으로 해석되는
이슈로 인하여 동일한 작동이 가능하도록 크로스 브라우징을 해야했습니다
그러나 거의 웹킷 기반으로 통합되었고 파이어폭스만 남아있는 상황
 -webkit- : 크롬, 사파리, 안드로이드 브라우저(일부)
 오페라 브라우저,  엣지가  통합되었습니다
 -moz- : 파이어폭스 브라우저
*/
    }
    section{
        position: fixed;
        top: 0; left: 0;width: 100%; height: 100vh;
        background-color: #222;
        display: flex; justify-content: center; align-items: center;
        clip-path: circle(0px at center center);
        //circle(원의반지름 at 원의위치X 원의위치Y)
        .innerText{
            position: fixed;
            top: 50%; left: 100%; transform: translateY(-50%);
            white-space: nowrap; font-size: 13vw; width: 100%;
            text-align: center; color: #fff;
        }
    }
    .container{
        position: relative;
        margin-top: 200vh;
        background-color: #222;
        padding: 200px; color: #fff;
        h2{
            font-size: 40px; margin-top: 20px;
        }
        p{
            font: 16px/1.4 "arial";
        }
    }
}